body{font-family: 'Dosis', sans-serif;}

.menu {margin-top: 64px;}
.menu ul {margin:0px;padding:0px;list-style-type: none;float: right;}
.menu ul li {float:left;margin-right:20px;color:#58595b;font-size: 16px;text-transform: uppercase;letter-spacing: 1px;}
.connect_icons {margin-top: 7px;}
.connect_icons ul {margin:0px; padding:0px; list-style-type: none;}
.connect_icons ul li {display:inline-block;margin-right: 10px;color:#58595b;font-size:18px;text-transform: uppercase;letter-spacing: 1px;}
.logo {margin-top: 29px;}

.main_heading {    margin-top: 110px;}
.main_heading h2 {font-size:56px;color:#2e368f;letter-spacing: 20;text-align: center;font-weight: 300;}
.main_heading p {font-size:20px;color: #1f1f1f;letter-spacing: 20;text-align: center;font-weight: 500;}
.main_button {text-align: center;}


.token_launch_heading h3 {color:#2e368f;font-size:25px;font-weight: 500;text-align: center;}
.token_launch_heading {margin-top: 50px;}

.main-container2 {background: url(../images/offer_bg.jpg) no-repeat;background-size: cover;width:100%;height:auto;margin-top: -100px;padding-bottom: 20px;}
.offer_text h3{color:#2e368f;font-size: 45px;font-weight: 300;text-align: center;}
.offer_text p{color: #1f1f1f;font-size: 19px;font-weight: 500;text-align: center;}
.square_box {border:1px #30368a solid;width: 10%;text-align: center;font-size: 20px;}
.offer_text_points h4 {font-size: 21px;color:#30368a;font-weight: 600;letter-spacing: 1px;}
.offer_text_points p {font-size: 15px;color: #1f1f1f;font-weight: 500;letter-spacing: 1px;}
.offer_text_points {margin-top: 50px;}
.main-container3 {background:url(../images/blue_bg.jpg) no-repeat;background-size:cover;width:100%;text-align: center;}
.diagram_heading h3 {font-size: 45px;color:#fff;letter-spacing: 1px;text-align: center;font-weight: 300;}
.token_text h3 {font-size: 45px;color:#30368a;font-weight: 400;letter-spacing: 1px;}
.token_text h5 {font-size:20px;color:#2e368f;font-weight: 600;letter-spacing: 1px;line-height: 27px;}
.token_text p {font-size: 16px;color: #1f1f1f;letter-spacing: 1px;line-height: 29px;font-weight: 500;}

.main-container4 {margin-top: 40px;}

.road_map h3{font-size: 45px;color: #2a3b94;letter-spacing: 1px;text-align: center;font-weight: 300;}
.team_heading h3{font-size: 45px;color: #2a3b94;letter-spacing: 1px;text-align: left;font-weight: 400;}

.main-container5  {background: url(../images/roadmap_bg.png) no-repeat;background-size: cover;width: auto;}

.team ul li {/* float:left; */margin-bottom: 10px;text-align: center;font-weight: 500;color: #1f1f1f;}
.team_text {margin-left: 10px;margin-top: 0px;font-size: 21px;font-weight: 400;}

.blog_bg {background:url(../images/roadmap_bg.png) no-repeat;background-size:cover;width:100%;height: auto;}


ul.countdown {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li { display: inline-block; }

ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  padding: 0 20px;
  border-top: 1px solid #2a3b94;
  border-bottom: 1px solid #2a3b94;
  margin-left: -3px;
  font-family: 'Roboto', sans-serif;
  color: #58595b;
}

ul.countdown li p {
  color: #1f1f1f;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
}

.days {
  background-color: #2a3b94;
  padding: 0 10px;
  color: #fff;
  color: #fff;
}



.last {border-right: 1px solid #2a3b94;}



.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding: 50px 0px 0px -20px;
}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
    color: #1f1f1f;
    font-weight: 600;
}
.index-content .card{
    /* background-color: #FFFFFF; */
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    /* box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3); */
    margin-bottom: 30px;
}
.index-content .card:hover{
    /* box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3); */
    /* color:black; */
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.index-content .card h4{
    margin: 20px 9px 10px 0px;
    font-weight: 500;
    color: #1f1f1f;
    line-height: 21px;
}
.index-content .card p{
    margin:20px;
    opacity: 0.65;
}
.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {

    .index-content .col-lg-4 {
        margin-top: 20px;
        padding-left: 0;
    }
}
section {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 50%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 95%;
    height: 39px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
}
button.btn {
    width: 21%;
    height: 39px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #999;
}


.footer_logo {text-align: center;}
/* .email_formy {display:none;} */

.email {text-align: center; font-size:17px;}

.email_formy ul {margin:0px; padding:0px; list-style-type: none;}
.email_formy ul li {float:left;margin-right: 0px;width: 22%;}

.btn-primary {
  /* background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%); */
  background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88)); */
  /* background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  /* border-color: #245580; */
  width: 30%;
	  padding: 6px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}


div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #fff url('../images/loader.gif') no-repeat center center; }


.scrollToTop{
	width:100px;
	height:130px;
	padding:10px;
	text-align:center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	right: 40px;
	display:none;
	background: url('../images/scroll_to_top.png') no-repeat 0px 20px;
	bottom: 0;
}
.scrollToTop:hover{
	text-decoration:none;
}


.team ul li a {color:grey;}

.menu ul li a {color: #1f1f1f;font-weight: 500;}


.email p {font-weight:500; color:#1f1f1f;}
.footer_logo p {font-weight: 600;color:#1f1f1f;}

.form-control_custom {width:50%;}
.blue_button {background:#2e368f;padding: 5px 20px 5px 20px;color:#fff;text-transform: uppercase;border: none;font-size: 17px;letter-spacing: 1px;font-weight: 200;margin-left: -88px;}