<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lendroid | Decentralized Margin Trading</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="/assets/css/style.css">
    <link href="/assets/css/style_sheet.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/timeline.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/table.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!--Jquery Countdown-->

    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="all" />
    <script type="text/javascript" src="/assets/js/jquery.downCount.js"></script>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Raleway);
        .faq-header {
            font-size: 2em;
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
        }

        .faq-c {
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
        }

        .faq-t {
            line-height: 1em;
            color: #aaa;
            font-family: sans-serif;
            float: left;
            font-weight: 700;
            padding-right: 0.3em;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
        }

        .faq-o {
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            -ms-transform: rotate(-45deg);
            -ms-transform-origin: 50% 50%;
            -webkit-transform: rotate(-45deg);
            -webkit-transform-origin: 50% 50%;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
        }

        .faq-q {
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 100;
        }

        .faq-a {
            clear: both;
            color: #666;
            display: none;
            padding-left: 1.5em;
        }
    </style>


    <script>

        $(document).ready(function () {

            $("body").css("display", "none");

            $("body").fadeIn(1000);

            $("a.transition").click(function (event) {
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(1000, redirectPage);
            });

            function redirectPage() {
                window.location = linkLocation;
            }

        });
    </script>





</head>

<body>


    <!-- particles.js container -->
    <div class="main_container">


        <div class="container">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo">

                <a href="/">
                    <img src="/assets/images/logo.svg" width="147" height="111" class="img-responsive">
                </a>


            </div>

            <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        Menu
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="/" target="_blank" title="">Home</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="https://lendroid.com/assets/whitepaper-margin-trading.pdf" target="_blank" title="Whitepaper">Whitepaper</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/#tok" class="click">Token</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/#el1" class="click">Team</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/media-kit">Media Kit</a>
                        </li>
                    </ul>
                </div>




            </div>

            <div class="col-lg-7 col-md-7 hidden-sm hidden-xs menu col-lg-offset-2 col-md-offset-2">

                <ul>

                    <li>
                        <a href="/assets/images/The Lendroid Whitepaper.pdf" target="_blank" title="Whitepaper">Whitepaper</a>
                    </li>
                    <li>
                        <a href="/#tok" class="click">Token</a>
                    </li>
                    <li>
                        <a href="/#el1" class="click">Team</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/media-kit">Media Kit</a>
                    </li>


                    <a href="https://blog.lendroid.com" class="hidden-xs">
                        <li>
                            <img src="/assets/images/01-01.svg" width="25" height="22" class="img-responsive">
                        </li>
                    </a>

                    <a href="https://www.reddit.com/user/vigsun" target="_blank" class="hidden-xs">

                        <li>
                            <img src="/assets/images/01-02.svg" width="25" height="22" class="img-responsive">
                        </li>

                    </a>
                    <a href="https://twitter.com/lendroidproject" target="_blank" class="hidden-xs">

                        <li>
                            <img src="/assets/images/01-03.svg" width="25" height="22" class="img-responsive">
                        </li>

                    </a>
                    <a href="https://t.me/lendroidproject" target="_blank" class="hidden-xs">

                        <li>
                            <img src="/assets/images/01-05.svg" width="22" height="19" class="img-responsive">
                        </li>

                    </a>
                    <a href="https://riot.im/app/#/room/#lendroid:matrix.org" target="_blank" class="hidden-xs">

                        <li>
                            <img src="/assets/images/01-07.svg" width="22" height="19" class="img-responsive">
                        </li>
                    </a>



                </ul>

            </div>








        </div>

        <div class="hidden-lg hidden-md col-sm-12 col-xs-8 connect_icons">

            <ul>



                <a href="https://blog.lendroid.com">
                    <li>
                        <img src="/assets/images/01-01.svg" width="25" height="22" class="img-responsive">
                    </li>
                </a>
                <a href="https://www.reddit.com/user/vigsun" target="_blank">
                    <li>
                        <img src="/assets/images/01-02.svg" width="25" height="22" class="img-responsive">
                    </li>
                </a>
                <a href="https://twitter.com/lendroidproject" target="_blank">
                    <li>
                        <img src="/assets/images/01-03.svg" width="25" height="22" class="img-responsive">
                    </li>
                </a>
                <a href="https://t.me/lendroidproject" target="_blank">
                    <li>
                        <img src="/assets/images/01-05.svg" width="22" height="19" class="img-responsive">
                    </li>
                </a>
                <a href="https://riot.im/app/#/room/#lendroid:matrix.org" target="_blank">
                    <li>
                        <img src="/assets/images/01-07.svg" width="22" height="19" class="img-responsive">
                    </li>
                </a>





            </ul>


        </div>
        <br>


        <div class="container">





            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer_text_points">

                <h4>Token Generation Event – Lendroid Support Token</h4>
                <p>The Lendroid Support Token (LST), the ERC20-compatible native token of the protocol, has been envisioned
                    for a three-fold objective – to lubricate processes and drive utility on the protocol; to incentivize
                    participation; and to empower governance.
                    <br>
                    <br> There are four players on the protocol, two of whom provide utility and two others who avail of these
                    utilities and participate to maximize profits. The Lenders and Traders pay for the essential services
                    of the Relayers and Wranglers. </p>

            </div>



            <div class="container">

                <table class="rwd-table hidden-xs">
                    <tr>
                        <th> Transaction</th>
                        <th>Lender</th>
                        <th>Relayer</th>
                        <th>Wrangler</th>
                        <th>Margin Trader</th>
                    </tr>
                    <tr style="background: #f1f2f2;">
                        <td data-th="&nbsp" style="color:#2e368f;">Avail Loan</td>
                        <td data-th="Lenders">--</td>
                        <td data-th="Relayers">--</td>
                        <td data-th="Borrowers">--</td>
                        <td data-th="Vigilantes">--</td>
                    </tr>
                    <tr>
                        <td data-th="&nbsp" style="color:#2e368f;">Close Loan</td>
                        <td data-th="Lenders">
                            <img src="/assets/images/pays.jpg">
                        </td>
                        <td data-th="Relayers">
                            <img src="/assets/images/recieves.jpg">
                        </td>
                        <td data-th="Borrowers">
                            <img src="/assets/images/recieves.jpg">
                        </td>
                        <td data-th="Vigilantes">
                            <img src="/assets/images/pays.jpg">
                        </td>
                    </tr>
                    <tr style="background: #f1f2f2;">
                        <td data-th="&nbsp" style="color:#2e368f;">Margin Position Changed</td>
                        <td data-th="Lenders">--</td>
                        <td data-th="Relayers">
                            <img src="/assets/images/recieves.jpg">
                        </td>
                        <td data-th="Borrowers">
                            <img src="/assets/images/recieves.jpg">
                        </td>
                        <td data-th="Vigilantes">
                            <img src="/assets/images/pays.jpg">
                        </td>
                    </tr>

                    <tr>
                        <td data-th="&nbsp" style="color:#2e368f;">Margin Call</td>
                        <td data-th="Lenders">
                            <img src="/assets/images/pays.jpg">
                        </td>
                        <td data-th="Relayers">--</td>
                        <td data-th="Borrowers">
                            <img src="/assets/images/recieves.jpg">
                        </td>
                        <td data-th="Vigilantes">
                            <img src="/assets/images/pays.jpg">
                        </td>

                    </tr>
                </table>


            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer_text_points">


                <p>Since Lendroid is a non-rent-seeking protocol, a user can begin participating on the protocol even without
                    possessing a single token of LST, by providing vital services like monitoring loan lifecycles and margin
                    accounts. While initial parameters will be set by the Lendroid team, the LST has also been envisioned
                    as a vehicle to enable Code upgrades, Network parameters, and Supported assets.
                </p>
                <br>
                <strong>
                    <h4>Essential Details</h4>
                </strong>
                <br>
                <p>
                    Token Allocation
                    <br>
                    <br> There are a total of 6,000,000,000 LSTs in all. Total LST available for public sale are 2,400,000,000.
                    The tokens are ERC20 compatible and the accepted currency is ETH. </p>

            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">

                <img src="/assets/images/allocation-pre-chart.png" class="img-responsive" alt="" />
                <div style="clear: both;"></div>
                <br>
                <br>

                <img src="/assets/images/team-table.png" class="img-responsive" alt="" />

            </div>



            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer_text_points" style="text-align: center;">

                <h4>Vesting Schedule</h4>
                <img src="/assets/images/vesting-schedule.png" class="img-responsive" alt="" />
                <div style="clear:both;"></div>
                <br>
                <br>

                <img src="/assets/images/vesting-table.png" class="img-responsive" alt="" /> </div>



            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer_text_points">

                <p>
                    <strong>
                        <h4>TGE Economics</h4>
                    </strong>


                    Initial public sale price per LST –
                    <br>
                    <br> We have set a total hard cap of 200,000 ETH. We have opted for a hybrid model, where we intend to raise
                    100,000 ETH from various investors, at no extra discount. The remaining 50% of available tokens will
                    be retained for the TGE with the wider community.
                    <br>
                    <br>


                    <strong>
                        <h4> Pre-Sale </h4>
                    </strong>

                    There has been healthy interest from the community in a pre-sale of LST. The total number LSTs we plan to make available
                    for pre-sale is
                    <insert number of LSTs>. However, this is subject to revision based on the demand. We also intent to offer a discount of up
                        to 10% for pre-sale contributors. The discount is dependent on the amount contributed.
                        <br>
                        <br> The cap per contributor during the pre-sale has been set at 4,000 ETH
                        <br>
                        <br>

                        <strong>
                            <Pre-sale Process>
                        </strong>

                        <strong>
                            <h4>Public Sale</h4>
                        </strong>

                        The public raise will be capped at 100,000 ETH with a 3-day registration for the sale. Based on the number of registrations,
                        the ‘per person’ cap will be fixed. For a more detailed understanding of how this will work –
                        <br>
                        <br> Say 1,000 people register. The allotted 100,000 ETH will be equally distributed amongst them resulting
                        in a cap of 100 ETH per person. The possible scenarios are –
                        <br>
                        <br> • On the first day of the token launch, all the 1,000 participate and contribute 100 ETH each, and
                        the token sale ends the same day. This is highly unlikely.
                        <br>
                        <br> • From the second day onwards, we remove the cap per person and allow the token sale to proceed
                        until the 100,000 ETH is raised. Any tokens not sold will be held back by the foundation and would
                        be used later.
                        <br>
                        <br> Any tokens not sold will be held back by the foundation and would be used later.</p>


            </div>


            <br>
            <br>



            <div class="container">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 road_map">

                    <h3>Token Launch Timeline</h3>
                    <br>

                </div>
                <div style="clear:both;"></div>
                <div class="row">

                    <div class="timeline timeline-line-dotted">
                        <span class="timeline-label">
                            <span class="label label-primary">November</span>
                        </span>
                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                15
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Registration for the public token sale</h4>
                                </div>

                                <div class="timeline-footer">
                                    <p class="text-right"></p>
                                </div>
                            </div>
                        </div>
                        <span class="timeline-label">
                            <span class="label label-primary"></span>
                        </span>
                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                18
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Registration ends</h4>
                                </div>
                                <div class="timeline-body">
                                    <p></p>
                                </div>

                            </div>
                        </div>
                        <span class="timeline-label">
                            <span class="label label-primary"></span>
                        </span>
                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                25
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Token sale begins</h4>
                                </div>


                            </div>
                        </div>



                        <span class="timeline-label">
                            <span class="label label-primary">December</span>
                        </span>
                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                15
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Token sale ends </h4>
                                </div>


                            </div>
                        </div>




                        <span class="timeline-label">
                            <span class="label label-primary"></span>
                        </span>


                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                15
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Audit of token sale</h4>
                                </div>


                            </div>
                        </div>


                        <span class="timeline-label">
                            <span class="label label-primary">January</span>
                        </span>
                        <div class="timeline-item">
                            <div class="timeline-point timeline-point-success">
                                1
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-heading">
                                    <h4>Token-lock released. </h4>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <br>
        <br>
        <br>
        <br>









        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $(".faq-q").click(function () {
                var container = $(this).parents(".faq-c");
                var answer = container.find(".faq-a");
                var trigger = container.find(".faq-t");

                answer.slideToggle(200);

                if (trigger.hasClass("faq-o")) {
                    trigger.removeClass("faq-o");
                }
                else {
                    trigger.addClass("faq-o");
                }
            });
        </script>



        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_logo">

                <img src="/assets/images/logo.svg" width="165" height="65" class="img-responsive" style="text-align: center;
    margin: 0 auto;">

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_logo connect_icons">
                <ul>
                    <li><a href="https://blog.lendroid.com" target="_blank"><li><img src="/assets/images/01-01.svg" width="25" height="22" class="img-responsive"></li>     </a></li>
                    <li><a href="https://twitter.com/lendroidproject" target="_blank"><li><img src="/assets/images/01-03.svg" width="25" height="22" class="img-responsive"></li> </a> </li>
                    <li><a href="https://t.me/lendroidproject" target="_blank"><li><img src="/assets/images/01-05.svg" width="22" height="19" class="img-responsive"></li> </a></li>
                    <li><a href="https://riot.im/app/#/room/#lendroid:matrix.org" target="_blank"><li><img src="/assets/images/01-07.svg" width="22" height="19" class="img-responsive"></li></a></li>
                </ul>
            </div>

            <div style="clear:both;"></div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email">

                <p>Email: connect@lendroid.com </p>

            </div>
            <br>
            <br>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer_logo">
                <p>© 2017 Lendroid</p>
                <p>Design by:
                    <a href="http://fingerprintscreative.com/" target="_blank">Fingerprints</a>
                </p>
            </div>


        </div>

    </div>





    <!-- Particle JS -->
</body>

</html>